assets/profiles/*
assets/uploads/Advisor/*
assets/uploads/MergerAcquisition/*
assets/php/connection.php

# exception to the rule
!assets/profiles/.gitkeep
!assets/uploads/Advisor/.gitkeep
!assets/uploads/MergerAcquisition/.gitkeep
