.chat_container{
  background-color: #FFFFFF;
}

.chat_sidebar{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  border-right: 1px solid gray;
  position: fixed;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  z-index: 999;
  background-color: #FFFFFF;
}

.chat_user_info{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
}

.chat_user_info:hover{
  background-color: #E5EDFF;
}

.chat_user_info.active{
  background-color: #E5EDFF;
}

.chat_user_image_container{
  min-width: 90px !important;
}

.chat_user_image{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.user_status{
  position: relative;
  top: 20px;
  left: -20px;
  color: #F93154;
}

.user_status_online{
  color: #00B74A !important;
}

.user_status_chat{
  color: #F93154;
}

.chat_user_name{
  font-weight: bold;
  font-size: 14px;
}

.chat_user_time{
  margin-left: auto;
  font-size: 12px;
  color: gray;
}

.chat_text{
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: 14px;
}

.chat_content{
  width: calc(100% - 400px);
  position: relative;
  left: 400px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
}

.chat_receiver_info{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid gray;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
}

.chat_receiver_name{
  font-weight: bold;
  font-size: 20px;
}

.chat_receiver_status{
  margin-left: auto;
}

.chat_actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  margin-top: auto;
  border-top: 1px solid gray;
}

.chatbox_send_message_button{
  height: 30px;
  width: 30px;
}

.loader_chat{
  height: 40px;
  width: 40px;
  display: none;
}

.chatbox_chat_input {
  margin: 0 10px;
  width: 100%;
  resize: none;
  overflow-y: auto;
  min-height: 30px;
  max-height: 150px;
  border: none;
}

.chat_body{
  padding: 50px 10px;
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.chat_segment{
  display: flex;
  flex-direction: row;
}

.chat_user_image_min{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.chat_message_received{
  position: relative;
  top: -10px;
  margin-left: 5px;
  margin-right: 50px;
}

.chat_message_received span{
  display: flow-root;
  break-after: always;
  background-color: #E6E8FC;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  line-break: anywhere;
  white-space: pre-line;
}

.chat_message_sent{
  margin-left: auto;
  text-align: right;
}

.chat_message_sent span{
  display: flow-root;
  break-after: always;
  background-color: #C2DDFF;
  padding: 10px 20px;
  border-radius: 10px 0px 10px 10px;
  line-break: anywhere;
  white-space: pre-line;
}

.chat_search{
  padding: 6px;
  border-bottom: 1px solid gray;
  max-height: 50px;
}

.recent_chat_header{
  padding: 10px;
  background-color: #ECEFF1;
  border-bottom: 1px solid gray;
}

.new_chat_message{
  color: #1266F1;
}

.btn-show-chats{
  margin-right: 10px;
}

.sidebar_maximized{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.chat_blank{
  width: calc(100% - 400px);
  position: relative;
  left: 400px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  justify-content: center;
  align-items: center;
}

.hide_chat{
  display: none;
}

.chatbox_chat_input::-webkit-scrollbar {
  width: 8px;
}
.chatbox_chat_input::-webkit-scrollbar-track {
  border-radius: 8px;
}
.chatbox_chat_input::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 8px;
}
.chatbox_chat_input::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 8px;
}
.chatbox_chat_input::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 8px;
}


.chat_sidebar::-webkit-scrollbar {
  width: 8px;
}
.chat_sidebar::-webkit-scrollbar-track {
  border-radius: 8px;
}
.chat_sidebar::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 8px;
}
.chat_sidebar::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 8px;
}
.chat_sidebar::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 8px;
}


.chat_body::-webkit-scrollbar {
  width: 8px;
}
.chat_body::-webkit-scrollbar-track {
  border-radius: 8px;
}
.chat_body::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 8px;
}
.chat_body::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 8px;
}
.chat_body::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 8px;
}

#faq .card {
  margin-bottom: 5px;
  border: 0;
  border-radius: 0% !important;
}

#faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 0% !important;
  padding: 0;
}

#faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #151A61;
  color: #FFF;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 0% !important;
}

#faq .card-body{
  padding: 10px 0px;
}

#faq .card .card-header .btn-header-link:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: right;
}

#faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#faq .card .card-header .btn-header-link.collapsed {
  background: #BBDEFB;
  color: #000;
}

#faq .card .collapsing {
  line-height: 30px;
}

#faq .card .collapse {
  border: 0;
}

#faq .card .collapse.show {
  line-height: 30px;
}


@media (min-width: 800px) {
  .btn-show-chats{
    display: none;
  }
}

@media (max-width: 800px) {
  .chat_sidebar{
    margin-left: -400px;
  }
  .chat_content{
    margin-left: -400px;
    width: 100%
  }
  .chat_blank{
    margin-left: -400px;
    width: 100%
  }
}
