#incorrectCredentials{
  color: red;
  display: none;
}

#unverifiedAccount{
  color: red;
  display: none;
}

.containerHidden{
  display: none;
}

.auth_error{
  color: red;
}

.our-trans-btn{
  display: none;
}

.password_visibility{
  cursor: pointer;
}

.ma-img{
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.bookmark{
  color: #F1F1F1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.bookmark-active{
  color: #F6C143;
  transition: all ease-in-out 0.5s;
}

.contact-container{
  padding: 20px 5vw;
  line-height: normal;
}

.contact-icon{
  color: grey;
}

.btn-custom{
  padding: 20px 15px;
  width: 150px;
  border: 1px solid #D7DBEC;
  margin-right: 20px;
  border-radius: 5px !important;
  box-shadow: 1px 1px 1px 1px #EFF1F7;
  font-weight: normal !important;
  transition: all ease-in-out 0.5s;
}

.btn-custom:hover{
  background-color: #151A61;
  color: white !important;
  transition: all ease-in-out 0.5s;
}

.btn-group > .active{
  background-color: #151A61;
  color: white !important;
}

.subcategories > li{
  cursor: pointer;
}

.subcategories > .selected{
  background-color: #151A61;
  color: white !important;
}

.Hidden-Card{
  display: none;
}

.company-options{
  display: none;
}

#realstate-options-group{
  display: none;
}

.select2-container .select2-selection--single {
  height: auto !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #CED4DA !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #CED4DA !important;
}

.ad-form label{
  font-weight: normal !important;
}


/* AUTOCOMPLETE: */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.searchButton{
  position: relative;
  left: -2px;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 0px !important;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  background-color: #343A40;
  color: white;
  opacity: 0.9;
  border-radius: 10px;
  border: 1px solid grey;
}

.autocomplete-items div {
  transition: all ease-in-out 0.1s;
  padding: 10px;
  opacity: 1;
  z-index: 199;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #000;
  font-weight: bold;
  transition: all ease-in-out 0.1s;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
  font-weight: bold;
  transition: all ease-in-out 0.1s;
}

.searchItems{
  margin-bottom: 10px;
}

.searchedItem{
  padding: 5px 10px;
  font-size: 15px;
  background-color: #151A61;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.searchClear{
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.clickable-filter{
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.clickable-filter:hover{
  background-color: #151A61;
  color: white;
  transition: all ease-in-out 0.5s;
}

.profile-user-img:hover{
  cursor: pointer;
  border-color: #21D59B;
}

.edit-profile-labels{
  font-weight: normal !important;
  font-size: 14px;
}

.hide {display:none!important }

.pagination{
  text-transform: capitalize;
}

.error-span{
  color: red;
  display: none;
}

.profile-advisor-category12{
  position: relative !important;
  left: 0 !important;
  top: -30px !important;
}

.profile-picture-heading {
  background: #FFF !important;
}

.pdf_attachment{
  width: 100%;
  height: 100%;
  background-color: #F93154;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
}



.content_{
  display: none;
  padding: 0px 5%;
}

#myCarousel{
  width: 100%;
  height: 600px;
  background-color: black;
  margin-bottom: 50px;
}

.carousel-inner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.carousel-caption{
  background-color: gray;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
}

.insight_news_feed{
  margin-bottom: 20px;
}

.latest_news_feed{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.news_feed_category{
  padding: 5px 10px;
  color: white;
  background: hsla(236, 64%, 23%, 1);
  border-radius: 10px;
  font-size: 12px;
}

.latest_news_feed_content{
  padding: 5%;
}

.latest_news_feed_image{
  height: 150px;
  width: 150px;
}

.news_category span{
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
  display: inline-block;
  margin-top: 10px;
}

.news_category{
  padding: 0px 5%;
}

.news_category span.active{
  color: white;
  background: #151a60;
}

.news_category span:hover{
  color: white;
  background: #151a60;
}

#advancedFilters .modal-header, .modal-body, .modal-footer{
  background-color: #FFFCF5 !important;
}

.modal-body{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px !important;
  overflow-x: hidden !important;
}

.listing-add-post1{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-right: 1px solid #D7DBEC;
}

.listing-add-post1 a{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: inline-block !important;
  padding: 15px 20px !important;
}

.listing-add-post1 a.active{
  background: white;
  border: 1px solid #D7DBEC;
}

.listing-add-post1 a:hover{
  background: white;
}

.tab-content{
  padding-top: 10px;
}

.jFiler-input-dragDrop{
  max-width: 80vw !important;
}

.news_loader{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
  filter: invert(13%) sepia(100%) saturate(4631%) hue-rotate(253deg) brightness(92%) contrast(106%);
}

.insight_news_feed,
.carousel-item,
.latest_news_feed{
  cursor: pointer;
}

.insight_news_feed,
.latest_news_feed{
  padding: 5px;
}

.insight_news_feed:hover{
  background-color: #ECECEC;
  border-radius: 5px;
}

.latest_news_feed:hover{
  background-color: #ECECEC;
  border-radius: 5px;
}

.feed_head_image{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.category-advisor-services-in654, .advisor-societaria987{
  height: 100%;
  max-height: 300px;
}

.hide-content-bottom-advisor56{
  background-color: hsla(236, 64%, 23%, 0.4);
}

#advancedFilters .modal-body{
  max-height: 80vh;
  height: 80vh;
  overflow-y: auto;
}

.hide_search{
  display: none !important;
}

@media (max-width: 768px) {
  .content_{
    display: none;
    padding: 0px;
  }

  .listing-add-post1 li {
    display: inline-block;
    margin-right: 10px;
  }

  .listing-add-post1{
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .insight_news_section{
    max-height: 600px;
    overflow-y: auto;
  }

  .tweets_container{
    max-height: 100vh;
    overflow-y: auto;
  }
}


.product__slider-main {
  margin-bottom: 15px;
}
.product__slider-main img {
  margin: 0 auto;
}
.product__slider-thmb .slick-slide {
  opacity: 0.5;
  transition: all .3s ease;
}

.product__slider-thmb .slick-slide.slick-active, .product__slider-thmb .slick-slide:hover {
  opacity: 1;
}

.product__slider-main, .product__slider-thmb {
  display: none;
}

.slick-prev:before {
  position: relative;
  right: -10px;
}
.slick-next:before {
  position: relative;
  left: -10px;
}
.slick-prev, .slick-next {
  z-index: 2 !important;
  height: 50px !important;
  width: 50px !important;
}
.slick-track{
  display: flex !important;
  max-height: 400px;
}
.slick-slide{
  height: inherit !important;
}
.product__slider-thmb .slide{
  max-height: 80px;
}

.social-button-container{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.btn-social-login{
  text-align: left;
  color: white;
  margin-top: 5px;
  border-radius: 50%;
}

.btn-social-login-facebook{
  background-color: #4867AA;
}
.btn-social-login-google{
  background-color: #F93154
}
.btn-social-login-linkedin{
  background-color: #0077B5;
}
.btn-social-login-twitter{
  background-color: #39C0ED;
}


.btn-deal-custom{
  border: 1px solid #EEEEEE;
  display: inline-block;
  width: 200px;
  padding-left: 10px !important;
  text-align: left;
  font-style: italic;
  background-color: white;
  padding: 10px;
  margin: 5px;
  color: grey;
}

.btn-deal-custom.selected{
  border: 1px solid #151A61;
}

.deal-heading{
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #424242;
  text-align: right;
}

.input-container{
  margin-top: 10px;
  margin-bottom: 25px;
}

.input-container .input-group{
  margin-top: 15px;
}

.input-group-nomargin{
  margin: 0px;
}

.btn-add-custom, .btn-add-custom:hover, .btn-add-custom:focus{
  background-color: #151A61;
  color: white;
}

.location_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.location_container select{
  flex: 1 !important;
}
.location_container input{
  flex: 1 !important;
}
.deal-subhead{
  font-style: italic;
  font-size: 16px;
  color: #757575;
}

.hidden_section{
  opacity: 0;
}

.hidden_deal_container{
  display: none;
}

.hidden_deal_container_main, .offer_section, .borrower_type_category_container, .collateral_type_container, .re_type_category_container, .type_category_section{
  display: none;
}

.category_checkbox_label{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.category_checkbox_label_sub{
  font-size: 16px;
  margin-left: 10px;
}
.type_category_section .col-md-4{
  margin-top: 20px;
}

.hidden_tab_head{
  display: none;
}

.button-red-border{
  border: 1px solid #EB4C3A;
  color: #EB4C3A;
}

.button-red-border:hover{
  color: #FFFFFF;
  background-color: #EB4C3A;
}

.investor-details-founded i{
  color: #D7DBEC;
}

.blue-box-rounded{
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
  background-color: #151A61;
  margin: 5px;
  display: inline-block;
}

.header-contact-table{
  position: relative;
  width: 100%;
  background-color: #D7DBEC;
  color: #151A61;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.body-contact-table{
  padding: 10px;
}

.contact-table-container{
  border: 1px solid #D7DBEC;
}
.contact-table-container i{
  color: #151A61;
}

.profile-investor-heading td:first-child{
  color: #151A61 !important;
  font-weight: bold;
}

.profile-investor-heading td{
  padding: 20px 0px;
}

.deal-card-heading{
  text-transform: capitalize;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.ma_card a{
  color: #151A61;
}

.deal-card-subhead{
  margin-top: 5px;
  display: inline-block;
}

.left-tag-card{
  text-transform: capitalize;
}
